[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.sectionInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width:500px;
}

h1 {
    display: inline-block;
}

.editButton {
    float: right;
    display: inline-block;
    margin-right:1%;
}

.deleteButton {
    float: right;
    display: inline-block;
}



#hiddenUserId {
    display:none;
    height:0px;
}

.sectionId {
    display: none;
    height: 0px;
}
